html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
    margin: 0;
    padding: 0;

    // background-color: #ccc;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.paragraph_dott {


    &::before {
        content: "";
        display: inline-block;
        height: 7px;
        width: 7px;
        margin-right: 6px;
        background-color: $orange_color;
        transform: translateY(-30%);
        border-radius: 50%;
    }
}

.link {
    text-decoration: none;
    color: $font_color;

    @include transition(color);

    &:active,
    &:focus {
        color: $font_color;
    }

    &:hover {
        color: $orange_color;
    }
}

.input {
    @include font_regular;
    font-size: 1.4rem;
    appearance: none;
    -webkit-appearance: none; 
    box-shadow: none;
    padding: 11px 25px;
    // line-height: 40px;
    border: none;
    background: #ececec;
    border-radius: 12px;
    
    &:focus {
        outline: none;
    }
}

.input,
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none; 
}

.textarea {
    @include font_regular;
    font-size: 1.4rem;
    padding: 11px 25px;
    border: none;
    border-radius: 12px;
    background: #ececec;
    box-shadow: none;

    &:focus {
        outline: none;
    }
}


.button {
    position: relative;
    cursor: pointer;
    @include font_semiBold;
    font-size: 1.4rem;
    border-radius: 30px;
    line-height: 40px;
    box-shadow: none;
    border: none;
    height: 40px;
    padding: 0 33px;
    color: white;
    background-color: $orange_color;
    @include transition(background-color);
    overflow: hidden;

    &::before{
        content: '';
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.25);
        transition: all 0.3s;
        transform: translate(20%,210%) rotate(-30deg);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        border-radius: 30px;
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.25);
        transition: all 0.3s;
        transform: translate(-20%,-210%) rotate(-30deg);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        border-radius: 30px;
    }

    &:hover::before, &:hover::after{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);	
    }


    &:focus {
        outline: none;
    }
}

.button::before{
	-webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}

.button--blue {
    background-color: $font_color;
    @include transition(background-color);

    &:hover {
        // background-color: $sky_color;
    }
}

.button--small {
    font-size: 1.2rem;
    line-height: 28px;
    height: 30px;
    padding: 0 27px; 
}

// Theme Ul List
.custom-list {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;

    &__item {

        &::before {
            content: '';
            width: 7px;
            height: 7px;
            background: #FF8617;
            border-radius: 50%;
            display: inline-block;
            margin-right: 8px;
        }
    }
}


/* Blog Text Content Styles */
.article-content {

    & > *:not(img) {
        padding-left: 166px;
        padding-right: 166px;
    }

    p { 
        margin: 0 0 22px 0; 
    }

    img {
        margin: 16px 0 42px;
        width: 100%;
        padding: 0 66px;
        
    }
    
    ul {
        margin: 0 0 23px 0;
        padding-top: 0;
        padding-bottom: 0;
        list-style: none;

        li {

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                background: #FF8617;
                border-radius: 50%;
                display: inline-block;
                margin-right: 8px;
            }
        }
    }

    ol {
        margin: 0 0 23px 0;
        padding-top: 0;
        padding-bottom: 0;  
    }

    strong {
        display: inline-block;
    }

}
