html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
    margin: 0;
    padding: 0;

    background-color: #ccc;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.link {
    text-decoration: none;
    color: $font_color;

    &:active,
    &:focus {
        color: $font_color;
    }
}

.input {
    @include font_regular;
    font-size: 1.4rem;
    appearance: none;
    -webkit-appearance: none; 
    box-shadow: none;
    padding: 11px 25px;
    // line-height: 40px;
    border: none;
    background: #ececec;
    border-radius: 12px;
    
    &:focus {
        outline: none;
    }
}

.input,
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none; 
}

.button {
    cursor: pointer;
    @include font_semiBold;
    font-size: 1.4rem;
    border-radius: 30px;
    line-height: 40px;
    box-shadow: none;
    border: none;
    height: 40px;
    padding: 0 33px;
    color: white;
    background-color: $orange_color;
    @include transition(background-color);


    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #FFB674;

    }
}

.button--blue {
    background-color: $font_color;
    @include transition(background-color);

    &:hover {
        background-color: $sky_color;
    }
}

.button--small {
    font-size: 1.2rem;
    line-height: 28px;
    height: 30px;
    padding: 0 27px; 
}

// .button_main {
//     background: 
// }