/* Media Header
* ======================================= */
@media screen and (max-width: 991px) {
  .header__topbar,
  .nav__menu {
    display: none;
    visibility: hidden; } }

/* ##Media Home
* ======================================= */
@media screen and (max-width: 1200px) {
  /* # sections */
  .section__header::before {
    background-size: 110%; }
  /* #Search */
  .search__area {
    padding: 40px 30px 40px; }
  .search-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%; }
    .search-form__row-top {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 0; }
    .search-form__row-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 30px; }
      .search-form__row-bottom .search-form__item-title {
        width: 100%; }
      .search-form__row-bottom .search-form__input {
        width: 48%;
        max-width: 48%;
        margin-right: 0; }
    .search-form__item {
      margin-bottom: 30px; }
      .search-form__item .select {
        width: 100%; }
      .search-form__item:nth-child(odd) {
        width: 35%; }
      .search-form__item:nth-child(even) {
        width: 60%; }
    .search-form__button {
      margin: 0 auto;
      display: block; }
  .search-filters {
    height: auto; }
  /* #About */
  .about__content::after {
    left: -500px; }
  /* #Benefit */
  .benefit__header-image {
    min-width: 48%;
    margin: 0 40px 0 0;
    background-size: cover; }
  .benefit__content {
    margin: 0 20px 7px 20px; }
  .benefit__item:after {
    right: -29px; }
  /* #Testimonial */
  .section-testimonial {
    padding: 36px 0 60px; }
  /* #Featured */
  .featured__header {
    min-height: 300px; }
  /* #Privilages */
  .privilages__container {
    padding: 0 40px 0 40px; }
  /* #News */
  .article-card {
    margin: 0 auto 40px; }
  /* #Property */
  .property__header {
    margin-bottom: 260px; }
  .property__body {
    padding: 0 20px 0 20px; }
  .widget-links_central-column {
    padding: 0 0 0 40px; }
  /* #Testimonial */
  .section-news .swiper-slide,
  .section-news__inner {
    padding: 0; }
  /* #Exellence */
  .excellence__header {
    min-height: 300px; }
  .excellence__item::after {
    right: -16px; } }

@media screen and (max-width: 992px) {
  /* #Hero */
  /* #Search */
  .search-form__item:nth-child(odd) {
    width: 40%; }
  .search-form__item:nth-child(even) {
    width: 56%; }
  /* #About */
  .about__content::after {
    left: -620px; }
  .about__text {
    margin-left: 0; }
  /* #Privilages */
  .privilages__title {
    -webkit-transform: none;
    transform: none; }
  .privilages__text {
    max-width: 100%;
    padding: 0 10px; }
  /* #Benefit */
  .benefit__header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .benefit__header-image {
    margin-bottom: 60px;
    height: 400px;
    margin-right: 0; }
  .benefit__item:after {
    right: -29px; }
  .benefit__item_line::after {
    display: none; }
  /* #Testimonial */
  .testimonial__button-prev {
    left: -40px; }
  .testimonial__button-next {
    right: -40px; }
  /* #Excellence */
  .excellence__text-box {
    padding: 0; }
  .excellence__image-box {
    padding: 0; }
  .excellence__item::after {
    display: none; }
  .excellence__inner {
    padding-top: 20px; }
  .excellence__top {
    margin-bottom: 40px; }
  /* #News */
  .section-news {
    padding: 4px 0 40px; }
  /* #Property */
  .property__header {
    padding-bottom: 16px; }
  .property__body {
    margin-bottom: 60px; }
  .property__text-block {
    max-width: 100%; }
  .property__image-block {
    margin: 0 auto; }
  .how-buy__image_left {
    margin-bottom: 60px; }
  .how-buy__image {
    width: 100%; }
  .how-buy__right {
    padding: 0 15px; }
  .company-bio__text-block {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px; }
  .company-bio__text-block::before, .company-bio__text-block::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .company-bio__image {
    width: 100%; }
  .property__paralax {
    min-height: 310px;
    top: 400px; }
  .property__paralax::before {
    background-size: 120%; }
  /* #Footer */
  .footer {
    padding-top: 60px; }
  .widget {
    font-size: 1.6rem; }
  .widget-links_central-column {
    padding: 0; }
  .widget-logo {
    margin-bottom: 40px; }
    .widget-logo__image {
      width: 165px !important; }
  .widget-links__item {
    display: block; }
  .widget-links {
    margin-bottom: 20px; }
  .footer__widget-address {
    padding-left: 0px;
    margin-top: 40px; }
  .widget-address__item_winter-time {
    padding-left: 38px; }
  .social-media_list {
    padding: 6px 0 6px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px; }
  .footer__copyright {
    padding-left: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .copyrights__art-sites {
    margin-top: 20px;
    margin-left: 0; }
  .art-sites__text {
    max-width: 150px;
    display: block;
    margin: 0 auto; }
  .art-sites__link {
    display: block;
    margin-top: 10px; } }

@media screen and (max-width: 767px) {
  /* #Hero */
  .hero__container {
    padding: 60px 15px 250px; }
  .hero__title {
    font-size: 3.3rem;
    line-height: 1.35; }
  .hero__subtitle {
    font-size: 1.8rem; }
  /* #Search */
  .search__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .search-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    margin-bottom: 20px; }
  /* About */
  .section-about {
    margin: 160px 0 30px;
    background: white; }
  .about__content {
    min-height: auto; }
  .about__content::after {
    display: none; }
  /* #Privilages */
  .privilages__container {
    padding: 0 15px; }
  .privilages__icon {
    padding-left: 0px;
    text-align: center; }
  /* #Benefit */
  .benefit__content {
    margin: 0; }
  .benefit__item {
    max-width: 100%; }
  .benefit__icon {
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  /* #Featered */
  .featured__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    padding-bottom: 20px; }
  .card__image-area {
    max-width: 100%;
    margin: 0; }
  .card__image {
    width: 100% !important;
    height: auto !important; }
  .card__property-item {
    max-width: 100%; }
  /* #Testimonial */
  .section-testimonial {
    padding: 36px 0 40px; }
  .testimonial__button-prev, .testimonial__button-next {
    width: 40px;
    height: 40px;
    z-index: 11; }
  .testimonial__button-prev {
    left: -4px; }
    .testimonial__button-prev::before {
      top: 11px;
      left: 13px; }
  .testimonial__button-next {
    right: -4px; }
    .testimonial__button-next::before {
      top: 5px;
      left: 16px; }
  .testimonial__image-area {
    margin: 0 auto -100px;
    width: 260px; }
  /* #Exellence */
  .excellence__item {
    margin-left: auto;
    margin-right: auto; }
  .excellence__inner {
    padding-top: 30px; }
  .excellence__top {
    margin-bottom: 60px; }
  /* #Property */
  .property__header-inner {
    padding: 0 40px; }
  .company-bio {
    padding: 0; }
  .how-buy__content {
    padding: 0; }
  .section-news__inner {
    padding: 0; }
  /* #Products */
  .product-slider .swiper-wrapper.row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0; }
  .featured__card {
    max-width: 420px;
    margin: 0 auto; }
  .section-featured .swiper-slide {
    padding: 0;
    margin-right: 100px; }
    .section-featured .swiper-slide::last-child {
      margin-right: 0; }
  .section-featured .container {
    overflow: hidden; }
  /* #Popup Window */
  .popup {
    padding: 20px 20px;
    width: 95%; }
  .video-popup__content {
    width: 90%; } }

@media screen and (max-width: 575px) {
  .section-title {
    font-size: 3rem; }
  /* #Video */
  .section-video {
    padding-top: 120px;
    background-position-x: 28%; }
    .section-video__title {
      width: auto;
      text-align: center;
      margin-bottom: 60px;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
  .video__content {
    left: 0; }
  .video__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .video__button-box {
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  /* #Privilages */
  .privilages__item {
    max-width: 90%;
    margin: 0 auto; }
  .privilages__title {
    max-width: 100%;
    text-align: center; }
  .testimonial__button-prev {
    left: 6px; }
  .testimonial__button-next {
    right: 6px; }
  /* #Featured  */
  .featured__header {
    min-height: 300px;
    background-position: 10% center !important; }
  .section__header::before {
    background-size: 160%; }
  /* #Exellence */
  .excellence__header {
    min-height: 300px; } }

@media screen and (max-width: 420px) {
  /* #Privilages */
  /* #Benefit */
  .benefit__content {
    margin: 0 auto; }
  .company-bio__text-block::before, .company-bio__text-block::after {
    width: 280px; }
  .property__paralax {
    top: 580px; } }

@media screen and (min-width: 768px) {
  .product-slider .swiper-wrapper {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    height: auto;
    width: auto; } }

@media screen and (max-height: 640px) {
  .popup__title {
    margin-bottom: 10px; }
  .popup__header {
    max-height: 120px;
    overflow: hidden; }
  .popup::before {
    top: 160px; }
  .send-form__row {
    margin-bottom: 12px; } }

@media screen and (max-height: 380px) {
  .featured__header {
    min-height: 270px; }
  .excellence__header {
    min-height: 270px; } }

/* Media Footer
   ============================================================== */
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 60px; }
  .widget {
    margin: 0 auto; } }

@media screen and (max-width: 578px) {
  .widget {
    max-width: 250px; } }

/*# sourceMappingURL=media.css.map */
