/* Header
   ============================================================== */
   main {
    display: none;
}
@media screen and (min-width:992px){
    .mobile-header {
        display: flex;
    }
    
}

/* #mobile */
.mobile-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background: #C8E3F9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.mobile-logo {
    max-width: 117px;
}

.hamberger {
    height: 46px;
    width: 46px;
    cursor: pointer;

    &__icon {
        fill: #174782;
    }
}

.sidenav {
    margin-top: 70px;
    padding: 40px 40px 56px 40px;
    background-color: #E3F1FC ;
}

.mobile-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        // display: inline-block;
        margin-bottom: 40px;
    }

    &__link {
        @include font_medium;
        font-size: 2.0rem;
    }
}

.is-dropdown > {

    .link {
        padding-right: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 16px;
            height: 16px;
            transform: translateY(-30%);
            background: url('../images/icons/menu_angel_arrow.svg') no-repeat center center;
            background-size: contain;
        }
    }
}

.is-dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

.dropdown-menu {
    margin-top: 10px;
    padding-top: 12px; 
    border-top: 2px solid #fff;
    display: none;
    visibility: hidden;
    transition: all 0.3s ease; 

    &__item {
       margin-bottom: 15px;
       margin-left: 20px;
       padding-left: 10px;
       position: relative;
       
       &::before {
           content: '';
           position: absolute;
           top: 50%;
           left: 0;
           width: 5px;
           height: 5px;
           display: inline-block;
           border-radius: 50%;
           background: $orange_color;
           transform: translateY(-50%);
       }
    }

    &__link {
        @include font_medium;
        font-size: 1.8rem;
        color: #174782;
    }
}

.phones__select-list_sidenav {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;

    .link {
        @include font_medium;
    }
}



/* #main header */

.header {
   background: white;    
}

.phones {
    
    &__select-list {
        position: absolute;
        min-width: 200px;
        padding: 0 12px 10px 12px;
        margin: 0;
        list-style: 0;
        list-style-type: none;
        height: 22px;
        overflow: hidden;
        background: #fff;
        position: absolute;
        top: 38%;
        left: 20px;
        @include font_medium;
        font-size: 1.3rem;
        // background: #ddd;
        border-radius: 20px;
        z-index: 10;

        &:hover {
            height: auto;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 9px;
            height: 22px;
            width: 22px;
            background: #C8E4F9 url(../images/icons/menu_angel_arrow.svg) no-repeat center 8px;
            background-size: 12px;
            border-radius: 50%;
            z-index: 11;
            cursor: pointer;
            
        }
    }

    &__item {
        margin-bottom: 15px;

        &:first-child {
            margin-bottom: 21px;
        }
    }

    &__item-link {
        position: relative;
        padding-left: 35px;
        line-height: 22px;
        color: #174682;
        display: inline-block;

        &:active, &:focus { color: #174682 }

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 11px);
            left: 2px;
            height: 22px;
            width: 22px;
            // background-image: url(../images/icons/flag_tur.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }

    &__item-link_tur::before {
        background-image: url(../images/icons/flag_tur.svg);
    }

    &__item-link_kaz::before {
        background-image: url(../images/icons/flag_kaz.svg);
    }

    &__item-link_ukr::before {
        background-image: url(../images/icons/flag_ukr.svg);
    }

    &__item-link_rus::before {
        background-image: url(../images/icons/flag_rus.svg);
    }
}

.topbar {

    &__container {
        position: relative;
       
        &::after {
            content:'';
            position: absolute;
            left: 4px;
            bottom: -1px;
            display: block;
            height: 1px;
            width: calc(100% - 8px);
            background-color: #C6E7FF;
        }
    }

    &__phones {
        min-width: 170px;
    }
   
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 21px;
        height: 57px;
    }
}

.nav__menu {
    margin: 0;
    padding: 11px 20px 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu {

    &__item {
        position: relative;
    }

    &__item-link {
        @include font_medium;
        color: $menu_color;
        display: block;
        @include transition(color);

        &:active, &:visited {
            color: $menu_color;
        }

        &:hover {
            color: $orange_color;
        }

    }

    &__item_dropdown {
        position: relative;
        padding-right: 14px;

        &:hover > .menu__dropdown { display: block; }

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            padding-left:8px; 
            right: 0px;
            height: 8px;
            width: 8px;
            display: block;
            background-image: url('../images/icons/menu_angel_arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        
    }

    &__dropdown {
        font-size: 1.3rem;
        position: absolute;
        left: -32px;
        top: 18px;
        flex-direction: column;
        background-color: white;
        padding: 14px 32px 30px;
        width: 273px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: none;

        .menu__item {
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: ""; 
                background-color: $orange_color;
                width: 5px;
                height: 5px;
                display: block;
                position: absolute;
                top: 50%;
                left: -14px;
                border-radius: 50%;    

            }
        }
    }
}
