.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/popup_bg.png') no-repeat center;
    background-size: cover;
    z-index: 100;
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease; 
      
}
.popup-overlay_opened.popup-overlay {

    visibility: visible;
    opacity: 1;
}

.popup.popup_show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}

.popup {
    padding: 40px 51px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    width: 458px;

    background: white;
    border-radius: 20px;

    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    z-index: 101; 

    &__header {
        position: relative;
        z-index: 11;

        text-align: center;

        height: 150px;
        margin-bottom: 20px;
    }

    &__title {

        @include font_semiBold;
        font-size: 2.6rem;

        margin: 0 0 20px 0;

        color: $sky_color;
    }

    &__text {

        @include font_medium;
        font-size: 1.4rem;
        line-height: 1.3;

        margin: 0;

        color: #174782;
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;

        margin: 0;
        padding: 0;

        display: block;

        border-radius: 50%;
        background: none;
        border: none;

        cursor: pointer;

        outline: none;

    }

    &::before {
        content: '';
        position: absolute;
        height: 846px;
        top: 196px;
        left: 50%;
        width: 843px;
        background: #C8E4F9;
        border-radius: 50%;
        transform: translate(-50%,-100%);
    }
    
    &__submit {
        width: 100%;
    }
}

.send-form {

    &__row {
        margin-bottom: 23px;
    }

    &__label {
        display: block;

        @include font_semiBold;
        color: #345E92;

        margin-bottom: 6px;
        padding-left: 26px;
    }

    &__input {
        width: 100%;
    }

    &__textarea {
        resize: none;
        width: 100%;
        height: 115px;
    }
}