/* Footer
   ============================================================== */

.footer {
    background-color: #061F3F;
    
    &__top {
        padding-top:  100px;
        color: white;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__list-item {
        position: relative;
        padding-left: 17px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 7px;
            height: 7px;
            background-color: $orange_color;
            border-radius: 50%;
        }
    }

    &__link {
        color: white;
        text-decoration: underline;
        @include font_medium;
        @include transition(color);

        &:hover {
            color: $orange_color;
        }

        &:active,&:focus {
            color: white;
        }

    }
}